$primary-color: #d6d6f3;
$text-color: #333;
$menu-bg: #eaeafd;
$menu-hover-bg: #cfcff5;
$border-color: #0000001c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", serif;
  color: $text-color;
}

.header {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  &__white-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__burger {
    width: 35px;
    height: 12px;
    background: url("./assets/menu.svg") no-repeat center;
    background-size: contain;
    cursor: pointer;
    margin-left: 15px;
  }

  &__logo {
    width: 36px;
    height: 34px;
    background: url("./assets/logo.svg") no-repeat center;
    background-size: contain;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
  }
}

.menu {
  &--top {
    padding: 10px 0;
    background: $menu-bg;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }
  &--top::-webkit-scrollbar {
    display: none;
  }

  &--bottom {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    // padding: 10px;
    // gap: 15px;
    list-style: none;
  }

  &__item {
    padding: 10px;
    border-right-style: solid;
    border-color: $border-color;
    border-width: 1px;
  }

  &__link {
    text-decoration: none;
    color: $text-color;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;

    &:hover {
      background: $menu-hover-bg;
    }

    &.active {
      background: white;
    }
  }
}
@media (max-width: 768px) {
  .menu {
    &--bottom {
      display: none;
    }

    &--bottom-active {
      display: flex;
      position: fixed;
      top: 15%;
      right: 0;
      height: fit-content;
      width: fit-content;
      background: white;
      box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 10;

      .menu__list {
        flex-direction: column;
        overflow-x: auto;
        max-height: 80vh;
        padding: 20px;
      }
    }
    &__item {
      border: none;
    }
  }
}
