$gallery-bg: #3a3a3a91;
$gallery-gap: 15px;
$image-width: 260px;
$image-height: 160px;
$border-radius: 10px;

.map {
  position: relative;
  width: 100%;
  height: 100vh;

  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.minimap {
  position: fixed;
  top: 75%;
  left: 20px;
  width: 264px;
  height: 264px;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 1;
  transform: translateY(-50%);

  &__container {
    width: 100%;
    height: 100%;
  }
}

.gallery {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $gallery-bg;
  padding: $gallery-gap;
  display: flex;
  justify-content: center;
  gap: $gallery-gap;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image {
    width: $image-width;
    height: $image-height;
    object-fit: fill;
    border-radius: $border-radius;
  }
}

.hide {
  display: none;
}

.player-overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 80%;
    max-width: 800px;
    aspect-ratio: 16/9;
    position: relative;
  }

  &__iframe {
    width: 100%;
    height: 100%;
  }

  &__close-btn {
    position: absolute;
    top: 20%;
    right: 20px;
    font-size: 24px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
  }
}
